{% extends "base.html" %}

{% block title %}Reset Twojego hasła{% endblock %}

{% block content %}
  <h1>Reset Twojego hasła</h1>
  {% if validlink %}
    <p>Proszę potwierdzić swoje nowe hasło podwójnie:</p>
    <form method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Zmień moje hasło" /></p>
    </form>
  {% else %}
    <p>Link do resetu hasła nie działa - prawdopodobnie dlatego, ponieważ zostało właśnie użyte.
        Proszę poprosić o zresetowanie nowego hasła.</p>
  {% endif %}
{% endblock %}